In [0]:
!pip uninstall -y kaggle 
!pip install kaggle==1.5.6
%env KAGGLE_USERNAME =#################
%env KAGGLE_KEY =######################
!kaggle competitions download -c machathon-10-filteration-test
!unzip /content/machathon-10-filteration-test.zip

Uninstalling kaggle-1.5.6:
  Successfully uninstalled kaggle-1.5.6
Processing /root/.cache/pip/wheels/57/4e/e8/bb28d035162fb8f17f8ca5d42c3230e284c6aa565b42b72674/kaggle-1.5.6-cp36-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.21.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.28.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.6.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.0.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.6) (1.3)
Installing collected packages: kaggle
Successfully installed kaggle-1.5.6
env: KAGGLE_USERNAME=mohammedessam97
env: KAGGLE_KEY=9abd3476de1b0e137c627a70ba1a556b
machathon-10-filteration-test.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  /content/machathon-10-filteration-test.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [0]:
import pandas as pd 
import numpy as np 

data = pd.read_csv("/content/train.csv")

In [0]:
data.describe()

         Unnamed: 0        WellID  ...  TotalOilInNext6Months  TotalGasInNext6Months
count   9324.000000   9324.000000  ...            9324.000000           9.324000e+03
mean    6643.341270   8258.919884  ...           19742.820249           6.355971e+04
std     3831.699502   4446.182863  ...           15678.751814           9.197275e+04
min        3.000000      0.000000  ...               0.000000           0.000000e+00
25%     3327.500000   5222.750000  ...            8073.250000           1.690325e+04
50%     6675.500000   8546.500000  ...           16437.000000           3.321850e+04
75%     9934.250000  11923.750000  ...           27737.500000           7.100925e+04
max    13283.000000  17999.000000  ...          203364.000000           1.169180e+06

[8 rows x 40 columns]

In [0]:
np.shape(data)

(9324, 40)

In [0]:
Y = data['TotalOilInNext6Months']
np.shape(Y)

(9324,)

In [0]:
Total_Oil = data['FirstMonthOil']+data['SecondMonthOil']+data['ThirdMonthOil']+data['FourthMonthOil']+data['FifthMonthOil']+data['SixthMonthOil']
Total_Gas = data['FirstMonthGas']+data['SecondMonthGas']+data['ThirdMonthGas']+data['FourthMonthGas']+data['FifthMonthGas']+data['SixthMonthGas']
Gas_Oil_ratio = data['FirstMonthRatioGasOil']+data['SecondMonthRatioGasOil']+data['ThirdMonthRatioGasOil']+data['FourthMonthRatioGasOil']+data['FifthMonthRatioGasOil']+data['SixthMonthRatioGasOil']
Total_Water = data['FirstMonthWater'] + data['SecondMonthWater'] + data['ThirdMonthWater'] + data['FourthMonthWater'] + data['FifthMonthWater'] + data['SixthMonthWater']
Total_Percent_Water = data['firstMonthPercentWater'] + data['SecondMonthPercentWater'] + data['ThirdMonthPercentWater'] + data['FourthMonthPercentWater'] + data['FifthMonthPercentWater'] + data['SixthMonthPercentWater']
Total_Days_On = data['FirstMonthDaysOn'] + data['SecondMonthDaysOn'] + data['ThirdMonthDaysOn'] + data['FourthMonthDaysOn'] + data['FifthMonthDaysOn'] + data['SixthMonthDaysOn']

In [0]:
def PreProcessing(data):
    Total_Oil = data['FirstMonthOil']+data['SecondMonthOil']+data['ThirdMonthOil']+data['FourthMonthOil']+data['FifthMonthOil']+data['SixthMonthOil']
    Total_Gas = data['FirstMonthGas']+data['SecondMonthGas']+data['ThirdMonthGas']+data['FourthMonthGas']+data['FifthMonthGas']+data['SixthMonthGas']
    Gas_Oil_ratio = data['FirstMonthRatioGasOil']+data['SecondMonthRatioGasOil']+data['ThirdMonthRatioGasOil']+data['FourthMonthRatioGasOil']+data['FifthMonthRatioGasOil']+data['SixthMonthRatioGasOil']
    Total_Water = data['FirstMonthWater'] + data['SecondMonthWater'] + data['ThirdMonthWater'] + data['FourthMonthWater'] + data['FifthMonthWater'] + data['SixthMonthWater']
    Total_Percent_Water = data['firstMonthPercentWater'] + data['SecondMonthPercentWater'] + data['ThirdMonthPercentWater'] + data['FourthMonthPercentWater'] + data['FifthMonthPercentWater'] + data['SixthMonthPercentWater']
    Total_Days_On = data['FirstMonthDaysOn'] + data['SecondMonthDaysOn'] + data['ThirdMonthDaysOn'] + data['FourthMonthDaysOn'] + data['FifthMonthDaysOn'] + data['SixthMonthDaysOn']
    Total_Oil = pd.Series(Total_Oil)
    Total_Gas = pd.Series(Total_Oil)
    Gas_Oil_ratio = pd.Series(Gas_Oil_ratio)
    Total_Water = pd.Series(Total_Water)
    Total_Percent_Water = pd.Series(Total_Percent_Water)
    Total_Days_On = pd.Series(Total_Days_On)
    X = {'WellID':data['WellID'],'Total_oil':Total_Oil,'Total_gas':Total_Gas,'Gas_Oil_ratio':Gas_Oil_ratio,'Total_Water':Total_Water,'Total_Water_Percentage':Total_Percent_Water,'Total_Days_On':Total_Days_On,"Total Gas Next":data['TotalGasInNext6Months']}
    X = pd.DataFrame(X)
    return X

In [0]:
def PreProcessing_train(data):
    Total_Oil = data['FirstMonthOil']+data['SecondMonthOil']+data['ThirdMonthOil']+data['FourthMonthOil']+data['FifthMonthOil']+data['SixthMonthOil']
    Total_Gas = data['FirstMonthGas']+data['SecondMonthGas']+data['ThirdMonthGas']+data['FourthMonthGas']+data['FifthMonthGas']+data['SixthMonthGas']
    Gas_Oil_ratio = data['FirstMonthRatioGasOil']+data['SecondMonthRatioGasOil']+data['ThirdMonthRatioGasOil']+data['FourthMonthRatioGasOil']+data['FifthMonthRatioGasOil']+data['SixthMonthRatioGasOil']
    Total_Water = data['FirstMonthWater'] + data['SecondMonthWater'] + data['ThirdMonthWater'] + data['FourthMonthWater'] + data['FifthMonthWater'] + data['SixthMonthWater']
    Total_Percent_Water = data['firstMonthPercentWater'] + data['SecondMonthPercentWater'] + data['ThirdMonthPercentWater'] + data['FourthMonthPercentWater'] + data['FifthMonthPercentWater'] + data['SixthMonthPercentWater']
    Total_Days_On = data['FirstMonthDaysOn'] + data['SecondMonthDaysOn'] + data['ThirdMonthDaysOn'] + data['FourthMonthDaysOn'] + data['FifthMonthDaysOn'] + data['SixthMonthDaysOn']
    Total_Oil = pd.Series(Total_Oil)
    Total_Gas = pd.Series(Total_Oil)
    Gas_Oil_ratio = pd.Series(Gas_Oil_ratio)
    Total_Water = pd.Series(Total_Water)
    Total_Percent_Water = pd.Series(Total_Percent_Water)
    Total_Days_On = pd.Series(Total_Days_On)
    X = {'WellID':data['WellID'],'Total_oil':Total_Oil,'Total_gas':Total_Gas,'Gas_Oil_ratio':Gas_Oil_ratio,'Total_Water':Total_Water,'Total_Water_Percentage':Total_Percent_Water,'Total_Days_On':Total_Days_On,"Total Gas Next":data['TotalGasInNext6Months'],"Label":Y}
    X = pd.DataFrame(X)
    return X

In [0]:
train = PreProcessing_train(X)
print(train.corr())

In [0]:
from sklearn.svm import SVR
clf = SVR(C=0.0001, epsilon=0.8)
clf.fit(X_train, y_train)
prds = clf.predict(X_test)
print(mean_absolute_error(y_test,prds))

11740.0879061827

(9324,)

# Trying Linear Regression

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [0]:
reg = LinearRegression().fit(X_train,y_train)

In [0]:
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=3)

# transforms the existing features to higher degree features.
X_train_poly = poly_features.fit_transform(X_train)

# fit the transformed features to Linear Regression
poly_model =LinearRegression()
poly_model.fit(X_train_poly, y_train)

# predicting on training data-set
y_train_predicted = poly_model.predict(X_train_poly)

# predicting on test data-set
prediction = poly_model.predict(poly_features.fit_transform(X_test))
mean_absolute_error(y_test,prediction)

In [0]:
prd = reg.predict(X_test)

In [0]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test,prd))

4029.4293118076653

In [0]:
reg = LinearRegression().fit(X,Y)

In [0]:
test = pd.read_csv('/content/test.csv')
#test = PreProcessing(test)

In [0]:
np.shape(test)

(3959, 39)

In [0]:
prds = reg.predict(test)

In [0]:
np.shape(prds)

(3959,)

In [0]:
df = pd.DataFrame(list(zip(test['WellID'], prds)), 
               columns =['WellID', 'TotalOilInNext6Months']) 
df.to_csv('/content/drive/My Drive/submissionMack2.csv',index=False)

In [0]:
Y = data['TotalOilInNext6Months']
X = data.loc[:, data.columns != 'TotalOilInNext6Months']