In [0]:
!pip uninstall -y kaggle 
!pip install kaggle==1.5.6
%env KAGGLE_USERNAME =#################
%env KAGGLE_KEY =######################
!kaggle competitions download -c machathon-10-filteration-test
!unzip /content/machathon-10-filteration-test.zip

In [0]:
import pandas as pd 
import numpy as np 

data = pd.read_csv("/content/train.csv")

In [3]:
data.describe()

         Unnamed: 0        WellID  ...  TotalOilInNext6Months  TotalGasInNext6Months
count   9324.000000   9324.000000  ...            9324.000000           9.324000e+03
mean    6643.341270   8258.919884  ...           19742.820249           6.355971e+04
std     3831.699502   4446.182863  ...           15678.751814           9.197275e+04
min        3.000000      0.000000  ...               0.000000           0.000000e+00
25%     3327.500000   5222.750000  ...            8073.250000           1.690325e+04
50%     6675.500000   8546.500000  ...           16437.000000           3.321850e+04
75%     9934.250000  11923.750000  ...           27737.500000           7.100925e+04
max    13283.000000  17999.000000  ...          203364.000000           1.169180e+06

[8 rows x 40 columns]

In [0]:
data.drop(['Unnamed: 0','WellID'], axis=1,inplace=True)

In [18]:
Y = data['TotalOilInNext6Months']
data.drop('TotalOilInNext6Months',axis=1,inplace=True)
np.shape(Y)

(9324,)

In [0]:
X = data

In [20]:
X

      FirstMonthOil  FirstMonthGas  ...  SixthMonthDaysOn  TotalGasInNext6Months
0           22672.0         3818.0  ...              27.0                 5893.0
1            7919.0         4328.0  ...              23.0                 7529.0
2           18653.0            0.0  ...              31.0                57060.0
3           19784.0        33837.0  ...              18.0                45579.0
4           16157.0        21461.0  ...               1.0                59066.0
...             ...            ...  ...               ...                    ...
9319        37805.0       141684.0  ...               0.0               415857.0
9320         6971.0        79098.0  ...               0.0               358299.0
9321         8664.0        81608.0  ...               0.0                84621.0
9322        26931.0       175372.0  ...               0.0               288955.0
9323        11398.0       215107.0  ...               0.0               300079.0

[9324 rows x 37 columns]

# Neural Network

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [0]:
import keras 
from tensorflow.keras import regularizers
from keras import layers
model = keras.Sequential(
    [
        #layers.Dense(784, activation="relu", name="layer1",kernel_regularizer=regularizers.l2(1e-4)),
        #layers.Dense(256, activation="relu", name="layer2",kernel_regularizer=regularizers.l2(1e-4)),
        layers.Dense(128, activation="relu", name="layer3",kernel_regularizer=regularizers.l2(1e-4)),
        layers.Dense(68, activation="relu", name="layer4",kernel_regularizer=regularizers.l2(1e-4)),
        layers.Dense(32, activation="relu", name="layer5",kernel_regularizer=regularizers.l2(1e-4)),
        layers.Dense(1, activation="relu", name="layer6",kernel_regularizer=regularizers.l2(1e-4))
    ]
)

In [0]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [0]:
X_train = np.array(X_train)
X_test  = np.array(X_test)
y_train = np.array(y_train)
y_test  = np.array(y_test)
X  = np.array(X)
Y  = np.array(Y)

In [0]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100)

In [0]:
model.fit(X,Y,epochs=50)

In [0]:
test = pd.read_csv('/content/test.csv')

In [0]:
np.shape(test)

(3959, 39)

In [0]:
prds = model.predict(np.array(test.drop(['WellID'],axis=1)))

In [0]:
np.shape(prds)

(3959,)

In [0]:
df = pd.DataFrame(list(zip(test['WellID'], prds)), 
               columns =['WellID', 'TotalOilInNext6Months']) 
df.to_csv('/content/drive/My Drive/submissionMack2.csv',index=False)